// .container{

// }

//     .image-2d{
//         border: 5px solid red ;
//     }
//     .image-3d{
//         border:black solid 5px;
//     }
//     .info{
//         //border:blue 5px solid;
//     }

// }

.historical {
    border: black solid 5px;
    height: 200px;
    width: 200px;
}

// .card{
//     border: black solid 5px;
//     border-color: green
// }