.container {
    .card {
      margin-bottom: 20px;
    }
  
    .form-select {
      margin-top: 10px;
    }
  
    .btn-block {
      margin-top: 20px;
    }
  
    .setting4 {
      margin-top: 20px;
  
      input[type="file"] {
        display: block;
        margin-top: 10px;
      }
    }
    input {
      margin: 10px 10px 10px 10px;
    }
  }
  