<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="setting1 col">
            <h4>Train Model</h4>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="checkToTrain" name="option1" [(ngModel)]="settings.trainModel">
              <label class="form-check-label">Check if you want to train the model</label>
            </div>
            <br>
            <select class="form-select" aria-label="select image mode" [(ngModel)]="settings.pullImage">
              <option selected name="fieldName">Select the mode in which you want to upload the images:</option>
              <option value="Edge">Edge</option>
              <option value="Cloud">Cloud</option>
            </select>
          </div>
          <div class="setting2 col">
            <h4>Customization</h4>
            <br>
            <div class="form-group">
              <label for="primaryColor">Primary Color:</label>
              <select class="form-control" id="primaryColor" [(ngModel)]="settings.primaryColor">
                <option *ngFor="let color of availableColors" [value]="color">{{ color }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="logo">Upload Logo:</label>
              <input type="file" class="form-control-file" id="logo" (change)="onFileChange($event)">
            </div>
            <div class="form-group">
              <label for="logoType">Logo Type:</label>
              <select class="form-control" id="logoType" [(ngModel)]="logoType" (change)="onLogoTypeChange()">
                <option value="rectangular">Rectangular</option>
                <option value="square">Square</option>
              </select>
            </div>
            <div class="form-group">
              <label for="logoWidth">Logo Width (px):</label>
              <input type="number" class="form-control" id="logoWidth" [(ngModel)]="settings.logoWidth">
            </div>
            <div class="form-group">
              <label for="logoHeight">Logo Height (px):</label>
              <input type="number" class="form-control" id="logoHeight" [(ngModel)]="settings.logoHeight">
            </div>
            <div class="form-group">
              <label for="logoPaddingVertical">Logo Vertical Space:</label>
              <input type="text" class="form-control" id="logoPaddingVertical" [(ngModel)]="settings.logoPaddingVertical">
            </div>
            <div class="form-group">
              <label for="logoPaddingHorizontal">Logo Horizontal Space:</label>
              <input type="text" class="form-control" id="logoPaddingHorizontal" [(ngModel)]="settings.logoPaddingHorizontal">
            </div>
            <div class="form-group">
              <label for="backgroundImage">Background Image:</label>
              <select class="form-control" id="backgroundImage" [(ngModel)]="settings.backgroundImage">
                <option *ngFor="let bg of availableBackgrounds" [value]="bg">{{ bg }}</option>
              </select>
              <input type="file" class="form-control-file" (change)="onBackgroundChange($event)">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="showModelView" [(ngModel)]="settings.showModelView">
              <label class="form-check-label" for="showModelView">Show Model View</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="darkMode" [(ngModel)]="settings.darkMode">
              <label class="form-check-label" for="darkMode">Dark Mode</label>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-primary btn-block" (click)="saveSettings()">Save Settings</button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
