<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="image-2d col">
            <h4 class="text-center">Image Information:</h4>
            <img class="img-fluid" [src]="selectedImage">
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
          <div class="header">
              <h4 class="title">Results</h4>
              <p class="category">Last Inspections Results</p>
          </div>
          <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                      <thead>
                          <tr>
                              <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let row of tableData2.dataRows">
                              <td *ngFor="let cell of row">{{cell}}</td>
                          </tr>
                      </tbody>
                </table>

          </div>
      </div>
  </div>
    
  </div>
</div>
<br><br><br><br><br><br>